<h1 class="mb-3" >
    Ajouter une nouvelle tache
</h1>

<div class="card card-body">
    {{!-- N'oubliez pas les attributs action et method --}}
    <form action="/add" method="post" >

        <div class="form-group">
            <label for="title">Titre</label>
            {{!-- N'oubliez pas l'attribut name --}}
            <input type="text" class="form-control" name="title"  >
        </div>
         <div class="form-group">
            <label for="details">Details</label>
            <textarea class="form-control" name="details"  rows="3"></textarea>
        </div>
        <button type="submit" class="btn btn-primary">Ajouter</button>
    </form>
</div>